<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library - Available Books</title>
</head>
<body>
    <h1>Available Books</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book: ${books}">
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.authors}">Authors</td>
                <td>
                    <a th:href="@{/books.html(isbn=${book.isbn})}" href="#" th:text="${book.isbn}"></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>